.vbox-valid-error {
    -fx-background-color: #ff9999;
    -fx-border-color:  #ff3300;
    -fx-background-radius: 2;
    -fx-border-radius: 2;
}

.label-valid-error {
    -fx-text-fill: #ff0000;
}

.vbox-valid-ok {
    -fx-background-color: #99ff99;
    -fx-border-color:  #33ff00;
    -fx-background-radius: 2;
    -fx-border-radius: 2;
}

.label-valid-ok {
    -fx-text-fill: #00ff00;
}