.content-container {
    -fx-background-color: lightblue;
    -fx-padding: 40px;
    -fx-alignment: center;
}

.site-label {
    -fx-font-weight: 700;
    -fx-font-size: 14pt;
}

.metric-label {
    -fx-font-size: 10pt;
    -fx-font-style: italic;
}

.notif-container {
}

.notif-container > Label {
    -fx-text-fill: white;
    -fx-font-size: 12pt;
}

.notif-vbox {
    -fx-pref-width: 275;
    -fx-pref-height: 80;
    -fx-border-color: lightgray;
    -fx-border-size: 1px;
    -fx-border-style: solid;
    -fx-background-color: rgb(47,79,79);
    -fx-opacity: 0.7;
    -fx-alignment: center;
}

.notif-message {
    -fx-text-alignment: center;
    -fx-wrap-text: true;
}

.notif-sp Label {
    -fx-text-fill: white;
}

.notif-close-button {
}

.notif-close-button:hover {
    -fx-border-color: white;
    -fx-border-size: 1px;
    -fx-border-style: solid outside;
}